* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    min-width: 360px;
    font-family: sans-serif;
    scroll-behavior: none;
}


:root {
    --main-bg: #f4e6e2;
}

.bg-main {
    background: var(--main-bg) !important;
}

.text-main {
    color: var(--main-bg) !important;
}

.home-banner-bg {
    background: linear-gradient(to bottom, #fff, var(--main-bg));
}


.ls-sm {
    letter-spacing: -2px;
}

.mask {
    width: 100%;
    height: 100vh;
    background: #000000cc;
    position: fixed;
    display: none;
    z-index: 1;
}

.side-nav {
    width: 280px;
    height: 100vh;
    background-color: var(--main-bg);
    position: fixed;
    z-index: 2;
    transition: 0.7s;
    right: -100%;
}

.side-nav li {
    transition: 0.4s ease-out;
}

.side-nav li:hover {
    /* box-shadow: 0px 0px 3px 3px; */
    background-color: #fff;
}

.pointer {
    cursor: pointer;
}


.enter-email::placeholder {
    color: #f4e6e2 !important;
}


.gallery {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.cards {
    position: relative;
    width: 14rem;
    height: 18rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 19rem;
    height: 18rem;
    text-align: center;
    line-height: 18rem;
    font-size: 2rem;
    font-family: sans-serif;
    /* background-color: #9d7cce; */
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.8rem;
}

.actions {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.drag-proxy {
    visibility: hidden;
    position: absolute;
}

.Treatments img {
    height: 230px;
    min-height: 200px;
    object-fit: cover;
}